<section id="about">
{% extends "car/base.html" %}
{% block content %}
    <h2>About Speedwheels</h2>
              <h3>Speedwheels - The right place, for the right car</h3>
              <p>we know that our customers have a wide variety of needs from the purely practical to the downright intrepid. Speedwheels goes the extra mile to offer a wide range of vehicles to suit your needs. Our fleet is comprised of a wide range of vehicles, to suit needs from a small car for efficient trips across town or an executive saloon for you to leave a lasting impression.</p>
              <p>Whether you're searching for a fitting accompaniment to a romantic road trip, or a vehicle spacious enough for an extended family holiday, or even a capable SUV that can handle anything the terrain and the weather throw at you; Speedwheels you will find the rental car best suited to your needs.</p>
{% endblock content %}
</section>



